integration_name: com.newrelic.mssql

instances:
  - name: mssql-server
    command: all_data
    arguments:
      hostname: <Host name or IP address of the SQl Server>
      username: <Microsoft SQL Server connection user name>
      password: <Microsoft SQL Server connection password>

      # Both port and instance can be omitted to use a default port of 1433
      port: <Microsoft SQL Server port to connect to. Only needed when instance not specified>

      # Only use instance instead of port if SQL Browser is enabled
      instance: <The Microsoft SQL Server instance to connect to. Do not supply port if this is specified>

      enable_ssl: <true or false. Indicates if SSL encryption should be used>
      trust_server_certificate: <true or false. If true server certificate is not verified for SSL. If false certificate will be verified against supplied certificate>
      certificate_location: <Location of the SSL Certificate. Do not specify if trust_server_certificate is set to true>
      timeout: <Timeout in seconds for a single SQL Query Execution. Set 0 for no timeout>
    labels:
      env: production
      role: mssql
