integrations:
- name: nri-mssql
  env:
    HOSTNAME: <Host name or IP address of the SQl Server>
    USERNAME: <Microsoft SQL Server connection user name>
    PASSWORD: <Microsoft SQL Server connection password>

    # Both port and instance can be omitted to use a default port of 1433
    PORT: <Microsoft SQL Server port to connect to. Only needed when instance not specified>
    # EXTRA_CONNECTION_URL_ARGS: ""

    # Only use instance instead of port if SQL Browser is enabled
    INSTANCE: <The Microsoft SQL Server instance to connect to. Do not supply port if this is specified>

    ENABLE_SSL: <true or false. Indicates if SSL encryption should be used>
    TRUST_SERVER_CERTIFICATE: <true or false. If true server certificate is not verified for SSL. If false certificate will be verified against supplied certificate>
    CERTIFICATE_LOCATION: <Location of the SSL Certificate. Do not specify if trust_server_certificate is set to true>
    TIMEOUT: <Timeout in seconds for a single SQL Query Execution. Set 0 for no timeout>

    # ENABLE_BUFFER_METRICS: true
    # ENABLE_DATABASE_RESERVE_METRICS: true 
    # ENABLE_DISK_METRICS_IN_BYTES: true

    # YAML configuration with one or more SQL queries to collect custom metrics
    # CUSTOM_METRICS_CONFIG: ""
    # A SQL query to collect custom metrics. Query results 'metric_name', 'metric_value', and 'metric_type' have special meanings
    # CUSTOM_METRICS_QUERY: >-
    #   SELECT
    #     'instance_buffer_pool_size' AS metric_name,
    #     Count_big(*) * (8*1024) AS metric_value,
    #     'gauge' as metric_type,
    #     database_id
    #   FROM sys.dm_os_buffer_descriptors WITH (nolock)
    #   GROUP BY database_id
    # True is query monitoring should be enabled - defaults to false
    # ENABLE_QUERY_MONITORING : "false"

    # Threshold in milliseconds for query response time. If response time exceeds this threshold, the query will be considered slow.
    # QUERY_RESPONSE_TIME_THRESHOLD : "500"

    # Maximum number of queries returned in query analysis results in each FETCH_INTERVAL(max of slow queries can be 20 and for execution plan metrics it can be 30)
    # QUERY_COUNT_THRESHOLD : "20"
    # Interval in seconds for fetching grouped slow queries; Should always be same as mysql-config interval.
    # FETCH_INTERVAL : "15"
  interval: 15s
  labels:
    env: production
    role: mssql
    # db_hostname: my-custom-hostname # useful to filter in dashboards, especially in multi-server environments.   
  inventory_source: config/mssql


