name: Push/PR pipeline

on:
  push:
    branches:
      - main
      - master
      - renovate/**
      - queryAnalysis/**
      - dev/**

  pull_request:

jobs:
  push-pr:
    uses: newrelic/coreint-automation/.github/workflows/reusable_push_pr.yaml@v3
    with:
      integration: mssql
      run_test_build_fake_prerelease: true
    secrets: inherit
